# === Maven ===
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# === IDE Java ===
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project

# === Logs ===
*.log

# === Archivos generados ===
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# === Sistema Operativo ===
.DS_Store
Thumbs.db